<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"/>
        <title>{% block title %}Home{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-light bg-light">
            <table>
                <tr>
                    <td>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </td>
                    <td id="welcomeHeader">
                        {{ username }}
                    </td>
                </tr>
            </table>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    <!------ Display certain buttons only if user is logged in ----->
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" id="home" href="/"><img src="https://res.cloudinary.com/whathellahor/image/upload/v1646759316/CSC1008/carLogo.png" width="20" height="20"> Book a ride now!</a>
                        <a class="nav-item nav-link" id="rideHistory" href="/rideHistory"><img src="https://res.cloudinary.com/whathellahor/image/upload/v1646759317/CSC1008/rideHistory.png" width="20" height="20"> Ride History</a>
                        <a class="nav-item nav-link" id="helpCentre" href="/helpCentre"> Help Center</a>
                        <b><a class="nav-item nav-link" id="logout" href="/logout" >Logout</a></b>

                    {% else %}
                        <a class="nav-item nav-link" id="login" href="/login">Login</a>
                        <a class="nav-item nav-link" id="signUp" href="/sign-up">Register</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <!--- Check the flashed message parsed in --->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="alert alert-danger alter-dismissable fade show", role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="alert alert-success alter-dismissable fade show", role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!--- Creating different sections, so it can be initialised in different sub HTML pages --->

        {% block content %}
        {% endblock %}

        {% block userLocationInput %}
        {% endblock %}

        <div id="mapContainer">
            {% block mapContent %}
            {% endblock %}
        </div>

        <div id="confirmationContainer">
            {% block confirmationSection %}
            {% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>