<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6b07e1842aea49c18897d8893c285175 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6b07e1842aea49c18897d8893c285175" ></div>
        
</body>
<script>    
    
            var map_6b07e1842aea49c18897d8893c285175 = L.map(
                "map_6b07e1842aea49c18897d8893c285175",
                {
                    center: [1.3498251476662904, 103.71424230576696],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_fe3e0320da2b4713a398e045c8e505aa = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_12a1f389692049a8b70a9e91d0012703 = L.polyline(
                [[1.3544225, 103.7189628], [1.354316, 103.7184686], [1.3541628, 103.7185016]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_8e7a6f9782fd41a7aabf4b5b5ae22c11 = L.polyline(
                [[1.3541628, 103.7185016], [1.3542552, 103.718984], [1.3542285, 103.7190445], [1.354199, 103.719074], [1.3540167, 103.7191062], [1.3539453, 103.7192282]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_8e06be77059b427694ee0ab0d7866a7d = L.polyline(
                [[1.3539453, 103.7192282], [1.3538588, 103.7193557], [1.3534435, 103.7194549]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_b489c7d674454df380b83e37c1cb76ac = L.polyline(
                [[1.3534435, 103.7194549], [1.3530315, 103.71952], [1.3529717, 103.7195295]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_5498cf7d0e28461aa11460bf98f407c2 = L.polyline(
                [[1.3529717, 103.7195295], [1.3529102, 103.7193003], [1.3528952, 103.7192444], [1.3528622, 103.7191212], [1.3528548, 103.7190937], [1.3528313, 103.7190038], [1.3527123, 103.7185479], [1.3527055, 103.7185218], [1.3527011, 103.7185064], [1.3526448, 103.7183068], [1.3526383, 103.7182836], [1.3526194, 103.7182169], [1.3525867, 103.7181296], [1.3525626, 103.7180653], [1.352545, 103.7180184], [1.3525124, 103.7179314]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_bef664aeb4f743a5b8e61795dc35de0d = L.polyline(
                [[1.3525124, 103.7179314], [1.3524759, 103.7178091], [1.35231, 103.7173711], [1.3522549, 103.7172487], [1.3522013, 103.7171656], [1.3521222, 103.717065], [1.3520203, 103.7169683], [1.3518962, 103.716898]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_6367a78b4e2a4bdf9c38f661b41536f5 = L.polyline(
                [[1.3518962, 103.716898], [1.3517667, 103.7168597], [1.3516422, 103.7168317], [1.3515108, 103.716826], [1.3514617, 103.7168363], [1.3512233, 103.7168924]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_b6ded063229440b9a545404cf2300939 = L.polyline(
                [[1.3512233, 103.7168924], [1.3509925, 103.7169722], [1.3506374, 103.7171307]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_95bca57b99c94c1f8e16d4b1bf03766b = L.polyline(
                [[1.3506374, 103.7171307], [1.3505952, 103.7171608], [1.350524, 103.7172116]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_17f0ef0b74f7448d93936742aa448aad = L.polyline(
                [[1.350524, 103.7172116], [1.3504557, 103.7172364]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_156619db366d41188995c9bda03db3d1 = L.polyline(
                [[1.3504557, 103.7172364], [1.3504249, 103.717157]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_8890dfdd996f4fada5ca753a69cea7bc = L.polyline(
                [[1.3504249, 103.717157], [1.3504055, 103.7171118], [1.3503486, 103.7169792], [1.3501346, 103.7164803], [1.3501171, 103.7164424], [1.349989, 103.7161645], [1.3497765, 103.715763], [1.3497565, 103.7157253], [1.349736, 103.7156908], [1.3495608, 103.715396], [1.3493936, 103.7151749], [1.3490522, 103.7147484]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_0116e51dd98a496187ff2c551ea98218 = L.polyline(
                [[1.3490522, 103.7147484], [1.3489355, 103.7145959], [1.3488848, 103.7145296], [1.3488631, 103.7145012]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_abcc87cbdbf144809e3ecd63c9d9b499 = L.polyline(
                [[1.3488631, 103.7145012], [1.3488085, 103.7144404]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_85a12e014d7847018352397f94c13e1e = L.polyline(
                [[1.3488085, 103.7144404], [1.3488342, 103.7144144], [1.3488735, 103.7143748]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_c5b7c8bf5ac24f15b6a8cf65575754c0 = L.polyline(
                [[1.3488735, 103.7143748], [1.348916, 103.7143305], [1.34954, 103.7136807], [1.3500397, 103.7131363], [1.350072, 103.7131011]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_872ffded9df84a64b74d428b81ed2d00 = L.polyline(
                [[1.350072, 103.7131011], [1.3500426, 103.7130568], [1.3499177, 103.7128689], [1.3497947, 103.7126823], [1.3494119, 103.7121075], [1.3493911, 103.7120761], [1.3491282, 103.7116792], [1.3489767, 103.7114549]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_e3b9ea22539e4dd3999dffc8a0b2ec51 = L.polyline(
                [[1.3489767, 103.7114549], [1.3489293, 103.711384]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_99c1c24b487d4fc596155243feb828d8 = L.polyline(
                [[1.3489293, 103.711384], [1.3488409, 103.7112576], [1.3487417, 103.7111179], [1.348666, 103.7110196], [1.34858, 103.7109287], [1.3485384, 103.7108846], [1.3484669, 103.7108286], [1.3484005, 103.7107816], [1.3482732, 103.7107159], [1.3480531, 103.7106411], [1.347804, 103.7105886], [1.3471195, 103.7104348], [1.3468151, 103.7103711], [1.3465465, 103.7102772], [1.3464231, 103.7102135], [1.346319, 103.7101497], [1.3460819, 103.7099885], [1.3458993, 103.7098244], [1.3455727, 103.7094348], [1.3455411, 103.7093936]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_0be92c84459542558833de0fbf911303 = L.polyline(
                [[1.3455411, 103.7093936], [1.3454716, 103.7093103]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_6fcec84085544e1aaad2feef3e7be061 = L.polyline(
                [[1.3454716, 103.7093103], [1.3455667, 103.7092421]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_263a3c1029f44867a553911754c0d9d3 = L.polyline(
                [[1.3455667, 103.7092421], [1.3456625, 103.7092398]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_fa561bf5756941129aeb01cb3757881d = L.polyline(
                [[1.3456625, 103.7092398], [1.345677, 103.7092298], [1.3457236, 103.7091947], [1.3460161, 103.709003], [1.3460655, 103.7089699], [1.3461028, 103.7089449], [1.346184, 103.7088905], [1.3462431, 103.7088509], [1.3463923, 103.708751], [1.3465152, 103.7086687]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var poly_line_ac6f5ec1036c4cf58160342ebe4596c7 = L.polyline(
                [[1.3465152, 103.7086687], [1.3465745, 103.7087508], [1.3466532, 103.7088609], [1.3468262, 103.7091075], [1.346973, 103.7093088], [1.3470734, 103.7094494], [1.3471545, 103.709563]],
                {"bubblingMouseEvents": true, "color": "Black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            map_6b07e1842aea49c18897d8893c285175.fitBounds(
                [[1.3454716, 103.7086687], [1.3544225, 103.7195295]],
                {}
            );
        
    
            var marker_e3a313055d414f3a89d70900434892e3 = L.marker(
                [1.3471545, 103.709563],
                {}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
        var custom_icon_6fc077a805e14d50b3ba1ad4875cfe2a = L.icon({"iconSize": [80, 80], "iconUrl": "https://res.cloudinary.com/whathellahor/image/upload/v1649331436/CSC1008/customMarker.png"});
        marker_e3a313055d414f3a89d70900434892e3.setIcon(custom_icon_6fc077a805e14d50b3ba1ad4875cfe2a);
        
    
            var marker_f0c33bd34ad74be8ad5d9b0a566ddbf9 = L.marker(
                [1.3544225, 103.7189628],
                {}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
        var custom_icon_5ee8527c7f994549bd3953f2858ff9a9 = L.icon({"iconSize": [80, 80], "iconUrl": "https://res.cloudinary.com/whathellahor/image/upload/v1649331436/CSC1008/customMarker.png"});
        marker_f0c33bd34ad74be8ad5d9b0a566ddbf9.setIcon(custom_icon_5ee8527c7f994549bd3953f2858ff9a9);
        
    
            var tile_layer_627c3970ecf04ef5a70e4f78644a6197 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
            var marker_aae0d8cc5076469cadb70144face041c = L.marker(
                [1.345828, 103.7157],
                {"iconSize": [80, 80]}
            ).addTo(map_6b07e1842aea49c18897d8893c285175);
        
    
        var custom_icon_6ed2f4d78f9144a4ab5d5780845252c0 = L.icon({"iconSize": [50, 50], "iconUrl": "https://res.cloudinary.com/whathellahor/image/upload/v1649246320/CSC1008/mainLogoNoBckgrd.png"});
        marker_aae0d8cc5076469cadb70144face041c.setIcon(custom_icon_6ed2f4d78f9144a4ab5d5780845252c0);
        
</script>