{% extends "base.html" %}
{% block title %}Lift Ride Hailing{% endblock %}

{% block content %}
    <form method="POST" id="submitForm">
        <h3 align="center">Sign Up</h3><br/>
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password"/>
        </div>
        <h5 align="center">
            <button type="submit" class="btn btn-primary" id="signUpBtn">Register</button>
        </h5>
    </form>
{% endblock %}